{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username" aria-describedby="basic-addon2"
            name="username">
            <span class="input-group-text" id="basic-addon2">@gmail.com</span>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="button-addon2"
          name="password">

        </div> <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
    </form>
</body>
</html>
